.custom-carousel {
  max-width: 800px;
  margin: auto;
}

.custom-carousel-img {
  height: 400px;
  object-fit: cover;
}

.custom-carousel-title {
  font-size: 2rem;
  font-weight: bold;
}

.custom-carousel-text {
  font-size: 1.2rem;
}
